


/* #f1e0c3 */
/* #202b30 */
/* #f44336 */
/* 689f38 */





/* Customizing the scrollbar */
/* Track */
::-webkit-scrollbar {
  width: 12px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #202b30;
  border-radius: 6px;
}

/* Track background */
::-webkit-scrollbar-track {
  background-color: #f1e0c3;
}

/* Corner between vertical and horizontal scrollbars */
::-webkit-scrollbar-corner {
  background-color: #f1e0c3;
}







html {
	height: 100%;
	box-sizing: border-box;
	background: #202b30;
	color: #f1e0c3;
}
body {
	height: 100%;
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* Define the squared button styles */
button {
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	display: inline-block;
	padding: 10px;
	margin: 5px;
	box-shadow: 
    0 0 0 2px #f1e0c3,   /* Outer border */
    0 0 0 2px #202b30;   /* Inner border */
	text-decoration: none;
	font-weight:  bold;
	transition: background-color 0.3s ease;
	width: 100%;
	background: #f1e0c3;
}

/* Add hover effect to the buttons */
button:hover {
	background-color: #f0f0f0;
}

#game-container {
	height: 100%;
	display: flex;
	width: 100%;
	align-items: center;
	overflow: hidden;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

#main-screens {
	width: 35%;
	padding: 10px;
	height: 100%;
	overflow-y: scroll;
}

#information-screen {
	width: 65%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#game-info {
	flex-grow: 1;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
}

#message-container {
	display: flex;
	flex-direction: column-reverse;
}

.game-message {
	border: 1px solid #000000;
	padding: 5px;
	margin-bottom: 5px;
}

#screens {
	margin-top: 10px;
}

#screens > div {
	margin-top: 10px;
}

.hidden {
	display: none;
}

.equipped,
.selected {
	font-weight: bold;
}

/* .item {
 	cursor: pointer;
 }*/